.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: .5px;
    &__wrapper{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: sticky;
    }
    &__title{
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        h1{
            font-weight: 600;
            font-size: 2.5rem;
            text-transform: uppercase;
        }
    }
    &__navigations{

    }
    &__nav-links{
        display: flex;
    }
    &__nav-link{
        padding: 2rem 3rem;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: .3rem;
            background-color: #1F3BBF;
            left: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0;
            transition: all .2s ease-in-out;
        }
        &:hover{
            color: #1F3BBF;
            &::before{
                opacity: 1;
                width: 100%;
            }
        }
    }
}
.icon-container{
    
    height: 3rem;
    aspect-ratio: 1/1;

    img{
        width: 100%;
    }
}
.style{
    color: #1F3BBF;
}